﻿@model System.Collections.Generic.IEnumerable<AdventureWorksWeb.Models.DepartmentViewModel>

@{
    ViewBag.Title = "AW Departments";
}

<h1 class="text-primary">AW Departments</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Group</th>
    </tr>

    @foreach (var d in Model.OrderBy(d => d.Name))
    {
        <tr>
            <td>@d.Name</td>
            <td>@d.GroupName</td>
        </tr>
    }
</table>
