﻿@model MlbStandings.Models.StandingsViewModel

@{
    ViewBag.Title = "Standings";
}

<h1 class="text-capitalize">Standings</h1>

<h2 class="text-primary">National League</h2>
<h3 class="text-muted">East</h3>
<table class="table">
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>GB</th>
    </tr>
    @foreach (var standing in Model.NationalLeagueStandingsViewModel.EastDivisionStandings.OrderBy(s => s.Rank))
    {
        <tr>
            <td>@standing.Team</td>
            <td>@standing.Won</td>
            <td>@standing.Lost</td>
            <td>@if (standing.GamesBack == 0)
                {
                    @:-
                }
                else
                {
                    @standing.GamesBack
                }
                
            </td>
        </tr>

    }
</table>

<h3 class="text-muted">Central</h3>
<table class="table">
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>GB</th>
    </tr>
    @foreach (var standing in Model.NationalLeagueStandingsViewModel.CentralDivisionStandings.OrderBy(s => s.Rank))
    {
        <tr>
            <td>@standing.Team</td>
            <td>@standing.Won</td>
            <td>@standing.Lost</td>
            <td>
                @if (standing.GamesBack == 0)
                {
                @:-
                }
                else
                {
                @standing.GamesBack
            }

        </td>

        </tr>

    }
</table>

<h3 class="text-muted">West</h3>
<table class="table">
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>GB</th>
    </tr>
    @foreach (var standing in Model.NationalLeagueStandingsViewModel.WestDivisionStandings.OrderBy(s => s.Rank))
    {
        <tr>
            <td>@standing.Team</td>
            <td>@standing.Won</td>
            <td>@standing.Lost</td>
            <td>
                @if (standing.GamesBack == 0)
                {
                @:-
                }
                else
                {
                @standing.GamesBack
            }

        </td>

        </tr>

    }
</table>

<h2 class="text-primary">American League</h2>

<h3 class="text-muted">East</h3>
<table class="table">
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>GB</th>
    </tr>
    @foreach (var standing in Model.AmericanLeagueStandingsViewModel.EastDivisionStandings.OrderBy(s => s.Rank))
    {
        <tr>
            <td>@standing.Team</td>
            <td>@standing.Won</td>
            <td>@standing.Lost</td>
            <td>
                @if (standing.GamesBack == 0)
                {
                @:-
                }
                else
                {
                @standing.GamesBack
            }

        </td>

        </tr>

    }
</table>


<h3 class="text-muted">Central</h3>
<table class="table">
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>GB</th>
    </tr>
    @foreach (var standing in Model.AmericanLeagueStandingsViewModel.CentralDivisionStandings.OrderBy(s => s.Rank))
    {
        <tr>
            <td>@standing.Team</td>
            <td>@standing.Won</td>
            <td>@standing.Lost</td>
            <td>
                @if (standing.GamesBack == 0)
                {
                @:-
                }
                else
                {
                @standing.GamesBack
            }

        </td>

        </tr>

    }
</table>


<h3 class="text-muted">West</h3>
<table class="table">
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>GB</th>
    </tr>
    @foreach (var standing in Model.AmericanLeagueStandingsViewModel.WestDivisionStandings.OrderBy(s => s.Rank))
    {
        <tr>
            <td>@standing.Team</td>
            <td>@standing.Won</td>
            <td>@standing.Lost</td>
            <td>
                @if (standing.GamesBack == 0)
                {
                @:-
                }
                else
                {
                @standing.GamesBack
            }

        </td>

        </tr>

    }
</table>

