﻿@model FFSignup.Models.LeagueViewModel

@{
    ViewBag.Title = "My Fantasy Football League";
}

@if (!Model.TeamViewModels.Any())
{
    <h2 class="jumbotron">Your league has no teams. Add a team now!</h2>

}
else
{
    <h2>League Summary</h2>

    <table class="table">
        <tr>
            <th>Team</th>
            <th>W-L-T</th>
            <th>Pct</th>
            <th>PF</th>
            <th>PA</th>
        </tr>

        @foreach (var team in Model.TeamViewModels)
        {
            <tr>
                <td>@team.TeamId</td>
                <td>@team.Record</td>
                <td>@team.WinPercentage</td>
                <td>@team.PointsFor</td>
                <td>@team.PointsAgainst</td>
            </tr>
        }
    </table>
}


@using (Html.BeginForm("AddTeam", "Signup", FormMethod.Post))
{
    <p>Team name:</p>
    <input type="text" id="teamId" name="teamId"/>
    <input class="btn btn-success" type="submit" value="Add Team"/>
}
