﻿@model System.Collections.Generic.IEnumerable<AdventureWorksWeb.Models.PurchaseOrderHeaderViewModel>

@{
    ViewBag.Title = "Purchase Order Headers";
}

<h1 class="text-primary">Purchase Order Headers</h1>
<table class="table">
    <tr>
        <th>Purchase Order Id</th>
        <th>Employee Id</th>
        <th>Vendor Id</th>
        <th>Shipping Method Id</th>
        <th>Order Date</th>
        <th>Ship Date</th>
        <th>Subtotal</th>
        <th>Tax</th>
        <th>Freight</th>
        <th>Total</th>
    </tr>

    @foreach (var p in Model.OrderBy(p => p.PurchaseOrderId))
    {
        <tr>
            <td>@p.PurchaseOrderId</td>
            <td>@p.EmployeeId</td>
            <td>@p.VendorId</td>
            <td>@p.ShipMethodId</td>
            <td>@p.OrderDate</td>
            <td>@p.ShipDate</td>
            <td>@($"{p.SubTotal:c}")</td>
            <td>@($"{p.TaxAmt:c}")</td>
            <td>@($"{p.Freight:c}")</td>
            <td>@($"{p.TotalDue:c}")</td>
        </tr>
    }
</table>
