﻿@model System.Collections.Generic.IEnumerable<AdventureWorksWeb.Models.SalesPersonViewModel>

@{
    ViewBag.Title = "Top Sales People";
}

<h1 class="text-primary">Top Sales People</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Sales YTD</th>
    </tr>

    @foreach (var sp in Model)
    {
        <tr>
            <td>@sp.FirstName @sp.LastName</td>
            <td>@($"{sp.SalesYtd:c}")</td>
        </tr>
    }
</table>
