﻿@model System.Collections.Generic.IEnumerable<AdventureWorksWeb.Models.ProductReviewViewModel>

@{
    ViewBag.Title = "Product Reviews";
}

<h1 class="text-primary">Product Reviews</h1>
<table class="table">
    <tr>
        <th>Product Id</th>
        <th>Reviewed by</th>
        <th>Rating</th>
        <th>Review</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.ProductId</td>
            <td>@r.ReviewerName</td>
            <td>@r.Rating</td>
            <td>@r.Comments</td>
        </tr>
    }
</table>
